# Copy this to ~/.config/skippy-xd/skippy-xd.rc and edit it to your liking
#
# File Syntax:
# Comments must be on their own seperate lines that start with a #
#
# colors can be anything XAllocNamedColor can handle
# (like "black" or "#000000")
#
# fonts are Xft font descriptions
#
# booleans are "true" or anything but "true" (-> false)
#
# opacity is an integer in the range of 0-255
#

[system]

pipePath = /tmp/skippy-xd-fifo

# Frequency to update pixmaps
updateFreq = 60.0

# This queries the list of windows
# Depending on your window manager, you may want to choose between
# XQueryTree, _NET_CLIENT_LIST, _WIN_CLIENT_LIST
# If you see missing windows, or windows that you did not expect,
# Try a different option
# clientList = XQueryTree
clientList = _NET_CLIENT_LIST
# clientList = _WIN_CLIENT_LIST

# when compositors such as picom are not used
# turn on pseudo-transparency
pseudoTrans = true
#pseudoTrans = false

[layout]

# Wait time before displaying switch previews
switchWaitDuration = 0

# Set = 0 to switch off animations
# For switch, there is never animation
animationDuration = 0

# Relative minimal distance between windows
distance = 50

# exposeLayout=xd uses the same layout as switcher, maximizing screen estate
# exposeLayout=boxy tends to preserve window positions, thus guiding the eye more
exposeLayout = boxy

# Whether to show the window bigger than its original size
allowUpscale = false

[filter]

# in multi-monitor setting, whether to filter windows by monitor
showOnlyCurrentMonitor = false

# Choose whether to show shadow windows:
# windows that are minimized, shaded, or on other virtual desktops
showShadow = true

# Choose whether to always display sticky windows
# Switch shows sticky windows regardless of configuration
showSticky = true

# For switch and expose,
# Whether to limit window select on current virtual desktop
# Or allow window selection on all virtual desktops
# Paging always show all desktops
switchShowAllDesktops = false
exposeShowAllDesktops = false

# Whether the filtering of window class
# Will be persistent across activations
persistentFiltering = false

[display]

# Shows _NET_WM_WINDOW_TYPE_DESKTOP windows
# which are usually wallpaper/background related
showDesktop = true

# During paging mode, preserve original desktop appearance
# From the background being applied
preservePages = true

# Background when skippy-xd is activated
# To display background wallpaper:
#   background = /home/richard/screenshots/256.png
# For tinted background:
#   background = #00000055
# For transparent background:
#   background = false
# background = #00000055
background = #00000055

# Move the mouse cursor when skippy is activated
movePointer = false

# Whether to display window frames
includeFrame = false

# Show window previews with rounded corners,
# with corner radius in pixels
cornerRadius = 0

# Icon parameters
showIconsOnThumbnails = true
preferredIconSize = 48

# Box display when live preview is not available
# Format: [left|mid|right] [left|mid|right] [COLOR|#FFFFFFFF]
iconFillSpec = mid mid #333333
# Box display when live preview is not available, and icon is not available
# Format: [COLOR|#FFFFFFFF]
fillSpec = #333333

[normal]
tint = black
tintOpacity = 0
opacity = 255

[highlight]
tint = black
tintOpacity = 60
opacity = 255

[shadow]
tint = #202024
tintOpacity = 0
opacity = 255

[panel]
show = true
showDesktop = false
backgroundTinting = true
allowOverlap = true

[tooltip]
show = false
showDesktop = false
showMonitor = false
# showDesktop = true
# showMonitor = false
offsetX = 0
offsetY = -5
width = 0.8
border = #ffffff
background = #404040
opacity = 128
text = #ffffff
textShadow = black
font = monospace-12:weight=bold

[bindings]

# key* = is a list of valid XWindows KeySym identifiers, case
# sensitive and <space> seperated list. Run the program 'xev' to find them.

keysUp = Up
keysDown = Down
keysLeft = Left
keysRight = Right

keysSelect = Return space
keysCancel = Escape
keysNext = n
keysPrev = p

keysIconify = 1
keysShade = 2
keysClose = 3

keysPivotSwitch = Alt_L
keysPivotExpose =
keysPivotPaging =

# mouse button bindings, options include
# "no": do nothing
# "focus": select window
# "iconify": minimize window
# "shade-ewmh": toggle window shade
# "close-icccm": close window with ICCCM method
# "close-ewmh": lcose window with EWMH method
# "destroy": forcefully destroy window
# "keysPrev": focus on previous window
# "keysNext": focus on next window

miwMouse1 = focus
miwMouse2 = close-ewmh
miwMouse3 = iconify
miwMouse4 = keysNext
miwMouse5 = keysPrev
