/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); */
@-moz-document url(chrome://browser/content/browser.xul),
                  url(chrome://browser/content/browser.xhtml)
{
  /* hiding tab stuff */
  .tab-background {
    min-height: 0 !important;
  }
  .tabbrowser-tab[fadein] {
    max-width: 100vw !important;
  }
  .tab-text {
    margin: 0 auto !important;
  }

  /* Center tab icon */
  .tab-icon-stack {
    margin-inline-start: auto;
  }
  .tab-label-container {
    max-width: min-content;
    margin-inline-end: auto;
  }

  /* Fix empty space between tabs */
  .titlebar-spacer[type="pre-tabs"],
  .titlebar-spacer[type="post-tabs"] {
    width: 30px !important;
  }

  /* Keeps the .titlebar-spacer[type="pre-tabs"] and [type="post-tabs"] consistent in all window sizes */
  :root:not([sizemode="normal"]) .titlebar-spacer[type="pre-tabs"] {
    display: block !important;
  }
  @media (max-width: 500px) {
    .titlebar-spacer[type="post-tabs"] {
      display: block !important;
    }
  }

  /* Deactivating close, minimize and maximize buttons */
  .tab-close-button,
  #TabsToolbar .toolbarbutton-1,
  .titlebar-buttonbox-container {
    display: none !important;
  }

  /* :root { */
  /*   --tab-min-height: 32px !important; */
  /* } */

  /* /\* Replace favicon on tabs with close button on mouse hover *\/ */
  /* .tabbrowser-tab:not(:hover) .tab-close-button { */
  /*   display: none; */
  /* } */
  /* .tabbrowser-tab:not([pinned]):hover .tab-close-button { */
  /*   display: block !important; */
  /* } */
  /* .tabbrowser-tab:not([pinned]):hover .tab-icon-image { */
  /*   display: none !important; */
  /* } */
  /* .tabbrowser-tab:hover .tab-throbber, */
  /* .tabbrowser-tab:hover .tab-icon-image, */
  /* .tabbrowser-tab:hover .tab-sharing-icon-overlay, */
  /* .tabbrowser-tab:hover .tab-icon-overlay, */
  /* .tabbrowser-tab:hover .tab-label-container, */
  /* .tabbrowser-tab:hover .tab-icon-sound { */
  /*   order: 2 !important; */
  /* } */
  /* .tabbrowser-tab .tab-close-button { */
  /*   margin-left: -2px !important; */
  /*   margin-right: 4px !important; */
  /* } */

  /* /\* Center align tabs *\/ */
  /* /\* scrollbox[orient="horizontal"] { */
  /*   justify-content: center; */
  /* } *\/ */
  /* #tabbrowser-arrowscrollbox:not([overflowing]) { */
  /*   --uc-flex-justify: center; */
  /* } */
  /* scrollbox[orient="horizontal"] { */
  /*   justify-content: var(--uc-flex-justify, initial); */
  /* } */
}
